/* css reset */
*{
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
/* css variables */
:root{
    --navbar-height:59px;
}

/* Navigation Bar */
#navbar{
    z-index: 1;
    display: flex;
    align-items: center; 
    position: sticky;
    top: 0;
}

/* Navigation Bar: Logo and image */
#logo{
     margin: 34px 45px;
}

#logo img{
    height: 51px;
    margin: -8px 6px ;
    transition: transform .2s;
  

}
/* Navigation Bar: List Styling */


#navbar ul{
    display: flex;
    font-family: 'Roboto Slab', serif;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;


}
#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;

}

/* Home section */
#home{
    display: flex;
    height: 578px;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url(../background/6.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
}

/* services section */
#services{
    margin: 51px;
    display: flex;
}
#services .box{
    background-color: #dbcfcf;
    padding: 34px;
    border: 2px solid brown;
    margin: 12px 10px;
    border-radius: 26px;
}

#services .box img{
    height: 155px ;
    margin: auto;
    text-align: center;
    display: block;
}
#services.box p{
    font-family: 'Baloo Bhai 2', cursive;
}





/* clints Section  */
#client-section{
/*    position: relative;*/
         /* height: 344px; */
}

#client-section::before{
        content: "";
        position: absolute;
        background: url('../background/4.jpg');
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.3;

}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-items{
    padding: 34px;
}
#clients img{
    height: 124px;
}
/* Contact Section  */
#contact{
 position: relative; 
    z-index: -0;

}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
    background: url(../background/5.jpg) no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    
}
#contact-box input,
#contact-box textarea{
width: 100%;
padding: .5rem;
border-radius: 9px;
font-size: 1.1rem;

}
#contact-box form{
    width: 40%;  
}
#contact-box label{
    font-size: 1.3rem;
}
footer{
    background:black;
    color: white;
    padding: 9px 20px ;
}

/* Utility classes */
.h-primary{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 3.8rem;
    padding: 12px;
    margin: 43px 0px;
}
.h-secondary{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 2.1rem;
    padding: 12px;
}


.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    
}
.btn:hover{
    background-color: rgb(217, 113, 243);
    
}
#btn4{
    
    display: block;
    margin: 16px auto;
    width: 57%;
    /* border: 2px solid red; */
    background-color: brown;
    
}
#btn4:hover{
    background-color:rgb(35, 236, 35) ;
}
.center{
    text-align: center;
}